* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

html {
	background-color: #1b212c;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

body {	
	background-color: #1b212c;
	background-image: url('./images/covid-bg.png');
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 600px;
}

.page-content {
	padding: 10px 20px;
}

.sort-header {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}

a, a:link, a:visited {
	text-decoration: underline;
	color: #82c7a5;
	margin: 5px 10px;
}

a.hakkimizda {
	color: #1b212c;
}

.ust-satir {
	display: flex;
	flex-direction: row;
	background-color: #82c7a5;
	padding: 10px;
}

.ty-sort-logo {
	color: #1b212c;
	font-weight: bold;
	font-size: 30px;
	flex: 1;
}

.initialScreen {
	min-height: 400px;
	width: 100%;
	text-align: center;	
	vertical-align: middle;
}

.sort-area-list {
	display: flex;
	flex-direction: row;
	margin: 10px 0px;
	align-items: center;
}

.sort-area1, 
.sort-area2 {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.sort-area2 {
	margin-left: 30px;
}

.tysort-groups {
	margin-bottom: 10px;
}

.butonlar {
	margin: 10px 0px;
	flex: 0 0 auto;
}

button {
	padding: 5px 10px;
	background-color: #82c7a5 !important;
	color: black;
	border: 0px;
}

.button:hover {
	background-color: white !important;
}

.button {
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #82c7a5 !important;
	color: black !important;
	text-decoration: none !important;
}

.button-hazirla,
.button-start {
	margin-top: 50px;
	height: 150px;
	width: 250px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

#array_bubblesort {
	background-color: #2b323f;
	height: 220px;
	width: 598px;
	position: relative;
	border: 1px solid #05090f
}

#array_tysort {
	background-color: #2b323f;
	height: 220px;
	width: 608px;
	position: relative;
	border: 1px solid #05090f
}

#array_tysort_grup1 {
	background-color: #2b323f;
	height: 220px;
	width: 300px;
	position: relative;
	border: 1px solid #05090f
}

#array_tysort_grup2 {
	background-color: #2b323f;
	height: 220px;
	width: 300px;
	position: relative;
	border: 1px solid #05090f;
	margin-left: 10px;
}

#array_tysort_sonuc {
	background-color: #2b323f;
	height: 220px;
	width: 608px;
	position: relative;
	border: 1px solid #05090f
}

.block {
	width: 28px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
	justify-content: center;
	display: flex;
}

.blockty {
	width: 28px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block1 {
	width: 28px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block2 {
	width: 28px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block3 {
	width: 28px;
	background-color: #13CE66;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: white;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

.block_img {
	width: 20px;
	margin: 2px;
}

.hide-me {
	display: none;
}

.show-me {
	display: block;
}

#sonuc {
    color: yellow;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}

.sub-header {
	color: #82c7a5 !important;
}